<div class="d-flex flex-column flex-lg-row flex-column-fluid" dir="ltr">
  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1 bg-light">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
      <!--begin::Wrapper-->
      <div class="auth-wrapper p-10">

        <router-outlet></router-outlet>
        <div class="text-center mt-5">
          <span class="text-muted me-2">Forgot your password?</span>
          <a href="#" class="link-primary fs-6 fw-bold">Reset Access</a>
        </div>
      </div>
      <!--end::Wrapper-->
    </div>

  </div>
  <!--end::Body-->
  <!--begin::Aside-->
  <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
    [ngStyle]="{'background-image': 'linear-gradient(270deg, rgba(0,0,0,0) 0%, rgb(25, 118, 210) 100%)'}">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center py-15 px-5 px-md-15 w-100">
      <!--begin::Logo-->
      <img alt="Logo" class="app-sidebar-logo-default" src="./assets/media/logos/default-dark.svg"
        style="height: 150px;" />
      <!--end::Logo-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>
